:root {
    --white-color: #FFFFFF;
    --black-color: #000000;
    --grey-color: #D1D5DB;
}

a{
    color:inherit;
    text-decoration: none;
    max-width: 100%;
    height: auto;
}

a:hover{
    text-decoration: underline;
}

*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 3vh;
}

img{
    border-radius: 15px;
    }

ul{
    list-style: none;
    text-align: center;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 1781px;
    font-family: "Roboto", sans-serif;
    color: var(--black-color);
    
}

header{
    display: flex;
    justify-content: space-between;
   }

nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position:absolute;
        width: 90%;
        min-width: 200px;
        font-family: "Roboto";
        font-size: 24px;
        font-weight: 700;
        border-bottom: var(--black-color) 2px solid;
        background-color: var(--white-color);
        margin: 0px 0px 0px 5vh;   
        transition: all 500ms ease;
}

nav.scrolled{
    background-color: var(--white-color);
    box-shadow: 0 16px 14px -8px rgba(0, 0, 0, 0.3);
    top: 0;
}
    
.nav .navleft {
        display: flex;
        flex-direction: row;
        margin: 150px;
    }
    
.nav .navcenter {
        flex-grow: 1; 
        text-align: center; 
    }
        
.nav .navright {
        display: flex;
        align-items: center;
    }

.cartVector:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    cursor: pointer;
}

.rightFloatingBar{
    position: fixed;
    top: 15px;
    right: 0;
    width: 20%;
    min-width: 200px;
    z-index: 1000;
    border-left: var(--black-color) 2px solid;
    margin-top: 50px;
    text-align: center;
}

    .slide2{
        float:left;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        gap: 50px;
        max-width: 70%;
        padding: 50px 50px 50px 50px;
        height: auto;
    }
    
    .divleft{
        display: flex;
        flex-wrap: wrap;
    }
    .divright{
        display: flex;
        flex-direction: column;
    }
    
    .spinachClothing .img{
        height: 100%;
        min-width: 200px;
    }
    
    .flowers{
        order: 1;
        height: 100%;
        min-width: 200px;
        text-align: right;
    }
    
    .SALE{
        order:2;
        height: 100%;
        min-width: 200px;
    }
    
    
    .slide3{
        float:left;
        display: flex;
        align-items: center;
        color: -#D1D5DB;
        font-family: "Roboto";
        font-size: 26px;
        font-weight: 700;
        max-width: 50%;
        padding: 50px 50px 50px 50px;
        height: auto;
    }
    
    .piedepagina{
        float:left;
        display: flex;
        align-content: center;
        justify-content: space-evenly;
        background-color: var(--grey-color);
        border-radius: 15px;
        font-family: "Roboto";
        font-weight: 700;
        max-width:100%;
        margin-left: 30vh;
        padding: 30px 30px 30px 30px;
        gap: 150px;
        
    }

    
    .copyright{
        display: flex;
        float:left;
        text-align: center;
        margin-top: 30px;
        margin-left: 50vh;       
    }

.container-items{
    
    display: grid;
    justify-content: center;
    align-content: center;
    float: left;
    margin-left: 20vh;
    margin-top: 10vh;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    width: 100vh;
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 100%;
    height: 300px;
    object-fit:contain;
    border-radius: 10px 10px 0px 0px;
    transition: all .5s;
}

.item:hover img{
    transform: scale(1.2);
}

.item figure{
    overflow: hidden;
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-product p{
    font-size: 18px;
    font-weight: 800;
}

.info-product button{
    border: none;
    background: none;
    background-color: var(--black-color);
    color:var(--white-color);
    padding: 15px 10px;
    cursor: pointer;
}

.container-icon{
    position: relative;
}

.count-products{
    position: absolute;
    top: 55%;
    background-color: #000;
    color: #FFFFFF;
    width: 15px;
    height: 15px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;
    background-color: var(--grey-color);
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}

.icon-close{
    width: 10px;
    height: 14px;
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-left: 20px;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 600;
    font-size: 18px;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 10px 0;
    gap: 10px;
}

.cart-total h3{
    font-size: 24;
    font-weight: 700;
}

.total-pagar{
    font-size: 24px;
    font-weight: 700;
}

.icon-close:hover{
    background-color: var(--black-color);
    cursor: pointer;
}

.hidden-cart{
    display: none;
}

.hidden-menu{
    display: none;
}

@media (max-width: 932px) {
    *::after,
    *::before,
    *{
        margin:0;
    }
    .rightFloatingBar{
        display: none;
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position:absolute;
        width: 80%;
        min-width: 200px;
        font-family: "Roboto";
        font-size: 24px;
        font-weight: 700;
        border-bottom: var(--black-color) 2px solid;
        background-color: var(--white-color);
        margin: 0px 0px 0px 5vh;   
        transition: all 500ms ease;
}
.container-items{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    float: left;
    margin-left: 0px;
    margin-top: 10vh;
    gap: 60px;
    width: 100%;
}
    
    .rightFloatingBar{
        display: none;
    }

    .container-cart-products{
        position: absolute;
        top: 50px;
        right: 0;
        background-color: var(--grey-color);
        width: 100%;
        z-index: 1;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
        border-radius: 10px;
    }

    .cart-product{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    }
    
    .info-cart-product{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
        margin-left: 20px;
    }
    
    .titulo-producto-carrito{
        font-size: 10px;
    }
    
    .precio-producto-carrito{
        font-weight: 700;
        font-size: 10px;
        margin-left: 10px;
    }
    
    .cantidad-producto-carrito{
        font-weight: 600;
        font-size: 8px;
    }
    
    .cart-total{
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding: 10px 0;
        gap: 10px;
    }
    
    .cart-total h3{
        font-size: 16px;
        font-weight: 700;
    }
    
    .total-pagar{
        font-size: 16px;
        font-weight: 700;
    }
    
    .icon-close:hover{
        background-color: var(--black-color);
        cursor: pointer;
    }
    .slide2{
        float:left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 10px;
        max-width: 100%;
        padding: 50px 10px 0px 20px;
        height: auto;
    }

    .spinachClothing img{
        height: 90%;
        width: 90%;
    }
    
    .flowers img{
        height: 90%;
        width: 70%;
    }
    
    .SALE img{
        height: 90%;
        width: 90%;
    }

    .slide3{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: -#D1D5DB;
        font-family: "Roboto";
        font-size: 16px;
        font-weight: 700;
        max-width: 50%;
        padding: 0px 0px 0px 0px;
        height: auto;
    }

    .left img{
        margin-top: 30px;
        margin-left: 220px;
        width: 400px;
        height: 320px;
    }

    footer{
        display: flex;
        justify-content: space-between;
    }
    
    .piedepagina{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: row;
        background-color: var(--grey-color);
        border-radius: 10px;
        font-family: "Roboto";
        font-size: 8px;
        font-weight: 500;
        margin-left: 30px;
        margin-right: 10px;
        padding: 0px 0px 0px 0px;
        width: 400px;
        gap:20px;
    }

    
    .copyright{
        display: none;           
    }

}